.navbar {
  grid-area: NavbarArea;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar__wrapper {
  display: none;
}

@media (min-width: 772px) {
  .navbar__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.navbar__link {
  display: block;
  text-decoration: none;

  padding: 10px;
  padding-left: 30px;
  color: white;
}

.navbar .active {
  color: #F30916;
}

.navbar__link:hover {
  color: orangered;
}

.navbar__link span {
  margin-right: 15px;
}




