.app-wrapper {
    width: 1170px;
    margin: 0 auto;
    display: grid;

    grid-template-areas:
            'Header Header'
            'NavbarArea contentArea';

    grid-template-rows: 95px 1fr;
    grid-template-columns: 3fr 9fr;
    column-gap: 20px;
}

.app-wrapper-content {
    grid-area: contentArea;
}
